*{
    font-family: "nanum";
    letter-spacing:3px;
    font-style: normal;
}


@font-face {
    font-family: "nanum";   
    font-display: fallback;      
    src: url("../src/fonts/nanum.ttf"); 
  }

